@keyframes borderFlow {
    100% { transform: rotate(360deg); }
    
}

.about-moving-border {
    position: relative;
    border-radius: 1rem;
    background: #faffff;
    padding: 1rem;
    overflow: hidden;
    z-index: 0;
}

.about-moving-border::before {
    content: '';
    position: absolute;
    inset: -50%;
    z-index: 0;
    background: linear-gradient(
        90deg,
        #cd1c18,
        #faffff,
        #000099,
        #878787,
        #ffff00
    );

    animation: borderFlow 10s linear infinite;
}

.about-moving-border::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #faffff;
    border-radius: inherit;
    z-index: 1;
}

.about-moving-border > * {
    position: relative;
    z-index: 2;
}