@keyframes borderFlow {
    100% { transform: rotate(360deg); }
    
}

.about-moving-border {
    position: relative;
    border-radius: 1rem;
    background: #faffff;
    padding: 1rem;
    overflow: hidden;
    z-index: 0;
}

.about-moving-border::before {
    content: '';
    position: absolute;
    inset: -50%;
    z-index: 0;
    background: linear-gradient(
        90deg,
        #0000cc,
        #faffff,
        #cc0000,
        #ffff00
    );

    animation: borderFlow 12s linear infinite;
}

.about-moving-border::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #faffff;
    border-radius: inherit;
    z-index: 1;
}

.about-moving-border > * {
    position: relative;
    z-index: 2;
}

@media (min-width: 640px) {
    .desktop-about {
        max-width: 1200px;
        margin: 0 auto;
    }

    .desktop-about-mission {
        max-width: 600px;
    }

    .desktop-about-mission-h1 {
        font-size: 3rem;
        padding-top: 6rem;
    }

    .desktop-about-mission-p {
        max-width: 600px;
        font-size: 1.25rem;
    }

    .desktop-about-cards {
        display: flex;
        flex-wrap: wrap;
        margin: 4rem 0;
    }

    .desktop-about-cards div {
        max-width: 400px;
    }
}