@media (min-width: 640px) {
    .desktop-vol-hero, .desktop-vol-foster {
        max-width: 1200px;
        margin: 0 auto;
    }

    .desktop-vol-hero h1 {
        max-width: 600px;
        font-size: 3rem;
        line-height: 3.5rem;
        padding-top: 6rem;
    }

    .desktop-vol-hero p {
        max-width: 600px;
        font-size: 1.25rem;
    }

    .desktop-vol-hero-cta {
        flex-direction: row;
        align-items: center;
        max-width: 600px;
    }

    .desktop-vol-hero-cta a {
        margin: 3rem 2rem 8rem 2rem;
        width: 14rem;
        padding: 1rem 2rem;
    }

    .desktop-vol-hero-cta a:hover {
        background-color: #0000cc;
        color: #ffff00;
    }

    .desktop-vol-foster {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    
    .desktop-vol-foster p {
        max-width: 600px;
    }

    .desktop-vol-foster-card {
        border: 2px solid #9999ff;
        border-radius: 10px;
        padding-top: 2rem;
    }

    .desktop-vol-volunteer {
        max-width: 1000px;
        padding: 1.5rem;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .desktop-vol-volunteer div {
        max-width: 300px;
        height: 280px;
        margin-top: 6px;
    }

    .desktop-vol-volunteer-card:hover {
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    }

    .desktop-vol-volunteer-cta:hover {
        background-color: #cc0000;
        color: #ffff00;
    }

}